
body, html {
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	color:#4e4b46;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	margin:0;
	background-image: url(../img/noise_beige.png);
}

p {
    padding:2px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    font-weight:300;
}

h1 {
    padding:10px;
    padding-left: 15%;
    font-weight: bold;
    font-size: 24px;
    line-height: 10px;
    font-weight:300;
}

h3 {
    padding:10px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
    font-size: 21px;
    line-height: 10px;
    font-weight:300;
}
h4{
    padding-left: 15%;
    padding-right: 15%;
}


a:link {
	color: rgb(51,122,183);
}

a:visited {
	color: rgb(46,109,120);
}

#header {
	height:86px;
	border-bottom:3px solid #959186;
	position:fixed;
	width:100%;
	z-index:99999;
	background:#9cd590;
	border-top:3px solid #5bba47;
}

#logo {
	background-size:120px 120px;
	background-position:center;
	background-repeat: no-repeat;
	height:120px;
	min-width:380px;
	max-width:1200px;
	margin:auto;
	margin-top:20px;
	pointer-events: none;
	background-image:url(../img/Logo_round_green.png);

}

#menu {
	z-index: 999;
	position: relative;
	text-align: center;
}

#menu>ul {
	padding:0;
	list-style: none;
}

#menu>ul>li {
  z-index: 900;
  float: none;
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding:10px;
  font-weight:300;
}

#menu>ul>li>a {
  text-decoration:none;
  color:#2e2c28;
}

#navbar {
    height: 150px;
    padding-top: 150px;
    text-align: center;

}

#content {
	height: 100%;
	padding-bottom: 30px;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#footer{
	display: block;
	min-height:308px;
	background:#2e2c28;
	border-top:3px solid #4e4b46;
	width:100%;
	background-image:url(../img/overlay.png);
	background-position:bottom right;
	background-repeat:no-repeat;
	color:#777;
	}

#links{
	padding-top: 30px;
	margin: auto;
	text-align: left;
	width: 80%;
}

.img-circle {
    margin: 10%;
    width: 200px;
    border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    max-width:100%;
    max-height: 100%
}

/* body for index */
#content-index {
    margin-bottom: auto;
    margin-top: auto;
	height: 70%;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	top:0;
	padding-top:80px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
	
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
	max-width:80%;
	padding:20px;
}

#status {
	height:100%;
	background-size:80%;
	background-repeat: no-repeat;
	background-position:center;
	background-image:url(../img/Logo_green.png);
}

/* icons for about us */

#icons {
	display: block;
	text-align: center;
}
.icon {
	width:64px;
	height:64px;      
}
.pictures {
	display: block;
	text-align: center;
	max-width:100%;
	max-height:100%;
}

.columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 5em;
  -moz-column-gap: 5em;
  column-gap: 5em;
}

.inner2 {
	
    margin-left: auto;
    margin-right: auto; 
	max-width:80%;
}

.col-3{
    width: 32.66666667%;
    display: inline-block;
    position: relative;
}
